<%- include("../partials/header")  %>


<div style="min-height: 100vh;">
    <div class="w3-container w3-card" style="width: 95%;margin: 1% auto;">
<h1 class="font-Roboto">Blood Pressure Record</h1><hr>
<form action="/history/bp" method="POST" style="margin: 30px auto;">
    <div>
        <label class="font-Roboto" style="font-size: 24px;">
            BP : &ensp;&ensp;systolic: <input style="display: inline;width: 15%;margin-left: 12px;" class="w3-input" type="number" name="bp[systolic]" step="0.01" min="80" max="300" autofocus required>
            <input style="width: 8%;display: inline;" class="w3-input" type="text" value="mm Hg" disabled>
            &ensp;&ensp;diastolic: <input style="width:15%; display: inline;" class="w3-input" type="number" name="bp[diastolic]" step="0.01" min="50" max="200" >
            <input style="width: 8%;display: inline;" class="w3-input" type="text" value="mm Hg" disabled>
        </label>
    </div>
    <div class="w3-container">
        <button class="w3-button w3-blue w3-ripple w3-round w3-large" style="margin: 30px auto 10px auto;">Update</button>
    </div>
</form>
<hr>
<h3 class="font-Roboto">Blood Pressure History :</h3>
<% profile.bpHist.forEach(function(data){ %>
    <div>
        Date: <%= data.timestamp.toDateString() %>  BP: <%= data.bp.systolic %> / <%= data.bp.diastolic %> mm Hg
        <form action="/history/bp?_method=DELETE" method="POST">
            <input type="hidden" name="timestamp" value="<%= new Date(data.timestamp) %>">
            <button class="w3-button w3-red w3-tiny w3-margin-top w3-round" >Remove</button>
        </form>
    </div>
    <hr>
<% }); %>
    </div>

<%- include("../partials/footer")  %>