<%- include("../partials/header")  %>


<div style="min-height: 100vh;">
    <div class="w3-container w3-card" style="width: 95%;margin: 1% auto;">
<h1 class="font-Roboto">Blood Sugar Record</h1><hr>
<form action="/history/sugar" method="POST" style="margin: 30px auto;">
    <div>
        <label class="font-Roboto" style="font-size: 24px;"> Blood Sugar : <input style="display: inline;width: 50%;margin-left: 12px;" class="w3-input" type="number" name="sugar" step="0.01" min="50" max="500" autofocus required>
            <input style="width: 15%;display: inline;" class="w3-input" type="text" value="mg/dl" disabled>    
    </div>
    <div class="w3-container">
        <button class="w3-button w3-blue w3-ripple w3-round w3-large" style="margin: 30px auto 10px auto;">Update</button>
    </div>
</form>
<hr>
<h3 class="font-Roboto">Blood Sugar History :</h3>
<% profile.sugarHist.forEach(function(data){ %>
    <div>
        Date: <%= data.timestamp.toDateString() %>  Sugar: <%= data.sugar %> mg/dl
        <form action="/history/sugar?_method=DELETE" method="POST">
            <input type="hidden" name="timestamp" value="<%= new Date(data.timestamp) %>">
            <button class="w3-button w3-red w3-round w3-tiny w3-margin-top" >Remove</button>
        </form>
    </div>
    <hr>
<% }); %>
    </div>

<%- include("../partials/footer")  %>